{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des spécialités</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Déscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialite in specialites %}
            <tr>
                <td><a href="{{ path('specialite_show', { 'id': specialite.id }) }}">{{ specialite.id }}</a></td>
                <td>{{ specialite.nom }}</td>
                <td><img src="{{ asset('images/specialite/')~specialite.image }}" width="50"></td>
                <td>{{ specialite.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('specialite_show', { 'id': specialite.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('specialite_edit', { 'id': specialite.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('specialite_new') }}">Ajouter une nouvelle spécialité</a>
        </li>
    </ul>
{% endblock %}
