{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ plat.nom }}</td>
            </tr>
            <tr>
                <th>Spécialité</th>
                <td>{{ plat.specialite.nom }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                <img src="{{ asset('images/imagePlats/')~plat.image0 }}" width="50">
                <img src="{{ asset('images/imagePlats/')~plat.image1 }}" width="50">
                <img src="{{ asset('images/imagePlats/')~plat.image2 }}" width="50">
                <img src="{{ asset('images/imagePlats/')~plat.image3 }}" width="50">
                <img src="{{ asset('images/imagePlats/')~plat.image4 }}" width="50">
                </td>
            </tr>
            <tr>
                <th>Déscription</th>
                <td>{{ plat.description }}</td>
            </tr>
            <tr>
                <th>Difficulte</th>
                <td>{{ plat.difficulte }}</td>
            </tr>
            <tr>
                <th>Temps de préparation</th>
                <td>{{ plat.tempsPrepa }}</td>
            </tr>
            <tr>
                <th>Temps de cuisson</th>
                <td>{{ plat.tempsCuisson }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ plat.type.nom }}</td>
            </tr>
            <tr>
                <th>Healthy food rate</th>
                <td>{{ plat.hfr }}</td>
            </tr>
            <tr>
                <th>Meteo</th>
                <td>{{ plat.meteo }}</td>
            </tr>
            <tr>
                <th>Humeur</th>
                <td>{{ plat.humeur }}</td>
            </tr>
            <tr>
                <th>Préparation</th>
                <td>{{ plat.preparation }}</td>
            </tr>
            <tr>
                <th>A éviter</th>
                <td>{{ plat.aEviter }}</td>
            </tr>
            <tr>
                <th>A reccomander</th>
                <td>{{ plat.aReccomander }}</td>
            </tr>
            <tr>
                <th>Nombre portion</th>
                <td>{{ plat.nbrPortion }}</td>
            </tr>
            <tr>
                <th>Nom portion</th>
                <td>{{ plat.nomPortion }}</td>
            </tr>
            <tr>
                <th>Ingrédients</th>
                <td>{{ plat.ingredient }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{% for hist in plat.note %}
                        {{ hist.getNom }}
                     {% endfor %}</td>
            </tr>
            <tr>
                <th>Ustensiles</th>
                <td>{% for hist in plat.ustensiles %}
                        {{ hist.getNom }}
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('plat_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('plat_edit', { 'id': plat.id }) }}">modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
