{% extends 'base.html.twig' %}

{% block body %}
    <h1>La liste des Notes </h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td><a href="{{ path('note_show', { 'id': note.id }) }}">{{ note.id }}</a></td>
                <td>{{ note.nom }}</td>
                <td>{{ note.textDesc }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('note_show', { 'id': note.id }) }}">afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('note_edit', { 'id': note.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('note_new') }}">Ajouter une nouvelle note</a>
        </li>
    </ul>
{% endblock %}
