{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typeplat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeplat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ typeplat.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeplat_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('typeplat_edit', { 'id': typeplat.id }) }}">modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
