{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ustensilles list</h1>

    <table>
        <thead>
            <tr>
                <th> Id </th>
                <th> Ustensilles </th>
                <th> Lien </th>
                <th> Icone </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
        {% for ustensille in ustensilles %}
            <tr>
                <td><a href="{{ path('ustensilles_show', { 'idUst': ustensille.idUst }) }}">{{ ustensille.idUst }}</a></td>
                <td>{{ ustensille.nomUst }}</td>
                <td>{{ ustensille.lien }}</td>
                <td><img src="{{ asset('iconeUstensilles/')~ustensille.icone }}" width="50"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ustensilles_show', { 'idUst': ustensille.idUst }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ustensilles_edit', { 'idUst': ustensille.idUst }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ustensilles_new') }}">Create a new ustensille</a>
        </li>
    </ul>
{% endblock %}
