{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ustensille</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ustensille.idUst }}</td>
            </tr>
            <tr>
                <th>Ustensille</th>
                <td>{{ ustensille.nomUst }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td><img src="{{ asset('iconeUstensilles/')~ustensille.icone }}" width="50"></td>
            </tr>
            <!--<tr>
                <th>Lien</th>
                <td>{ { ustensille.lien }}</td>
            </tr>-->
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ustensilles_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ustensilles_edit', { 'idUst': ustensille.idUst }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
